.head_about {
    position: relative;
    overflow: hidden;
}

.head_about>img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
}

.basid1 {
    background-color: #1A776F;
    position: absolute;
    bottom: 0;
    padding-left: 50px;
    box-sizing: border-box;
    font-size: 250%;
    text-transform: uppercase;
    height: 92px;
    line-height: 92px;
    vertical-align: middle;
    width: 100%;
    color: #FFF;
    opacity: 0.8;
}

.head_wapper {
    margin: 40px;
}

.left_content {
    font-size: 22px;
    float: left;
    line-height: 40px;
}

.right_content {
    float: right;
}

.right_content ul {
    list-style-type: none;
}

.right_content li a {
    color: #007F76;
    font-size: 26px;
    font-weight: 700;
    list-style-type: none;
    text-decoration: none;
}

.head_mission {
    background-color: #1A776F;
    float: left;
    margin-top: 30px;
    line-height: 2;
    padding: 30px;
}

.row {
    width: 100.8%!important;
}

.mission_left {
    width: 60%;
    text-align: justify;
    font-size: 20px;
    color: #FFF;
    font-weight: lighter;
}

.mission_right img {
    float: left;
    width: 100%;
    height: 610px;
}

.head_mission img {
    width: 100%;
}

.history_tiltle {
    width: 100%;
    float: left;
    text-align: justify;
    line-height: 25px;
    padding: 50px;
}

.history_tiltle h3 {
    font-size: 30px;
    padding-bottom: 10px;
    font-weight: 700;
}

.history_tiltle p {
    margin-bottom: 20px;
}

.history img {
    width: 100%;
}